/* * {
    border: 1px solid blue;
    margin: 0;
    padding: 0;
} */

.main {
    display: grid;
    place-items: center;
}

.container {
    width: 50vw;
    position: relative;
    /* display: block; */
}

.image {
    width: 100%;
}

.eye-container {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    width: 5vw;
    height: 5vw;
}

.left-eye {
    top: 37%;
    left: 36%;
}

.right-eye {
    top: 37%;
    left: 56%;
}

.eyeball {
    position: absolute;
    bottom: 3px;
    right: 2px;
    display: block;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #000;
}